.booking {
  background-color: rgb(226, 241, 241);
  /* background-color: rgb(175, 175, 50); */
  border-radius: 20px;
}

.tour form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tour form input,
textarea {
  width: 30%;
  margin-bottom: 15px;
}
