.banner {
  height: 80vh;
  width: 100%;
  background-image: url("../../../images/banner/banner1.jpg"),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));

  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
body {
  overflow-x: hidden;
}

.title {
  color: white;
  font-size: 48px;
  font-weight: 900;
}
.title-guide {
  color: white;
  font-size: 48px;
  font-weight: 900;
}
.title-sm {
  font-weight: 500;
  font-size: 38px;
  color: white;
}
